* {
  box-sizing: border-box;
}

html {
  font-family: "Gill Sans", Puritan, Lato, sans;
  font-size: 16px;
  color: #111;
}

#wrapper {
  width: 38rem;
  margin-left: auto;
  margin-right: auto;
}

.button {
  text-decoration: none;
  padding: 0.5rem 1.75rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #55d;
  color: white;
  border-radius: 5px;
}

.reverse-button {
  color: #55d;
  border: 1px solid #55d;
  background-color: transparent;
}

textarea {
  width: 100%;
  font-family: Baskerville, "EB Garamond", serif;
  font-size: 1.4rem;
  line-height: 1.6;
  border: 0;
  padding: 0.5rem;
}

#saved {
  color: inherit;
}

.flex-container {
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
