body {
  font-family: Baskerville, "EB Garamond", serif;
  font-size: 20px;
  color: #111;
}

#wrapper {
  width: 38rem;
  margin-left: auto;
  margin-right: auto;
}

.button {
  text-decoration: none;
  padding: 0.5rem 2rem;
  font-family: "Gill Sans", Puritan, Lato, sans;
  font-size: 1rem;
  font-weight: bold;
  background-color: #55d;
  color: white;
}

textarea {
  width: 100%;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.6;
  border: 0;
  padding: 0.5rem;
}

#saved {
  color: inherit;
}
